server:
  port: 8081

spring:
  application:
    name: user-ms
  datasource:
    url: jdbc:postgresql://localhost:5433/snaphire_user_db
    username: postgres
    password: Dp99@gmail
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/